# 카카오 Developers > 앱 > 플랫폼 키에서 확인
KAKAO_REST_API_KEY=

# 플랫폼 키의 REST API 키에 설정된 클라이언트 시크릿
KAKAO_CLIENT_SECRET=

# 위 REST API 키 설정에 똑같이 등록해야 하는 콜백 URL
KAKAO_REDIRECT_URI=http://localhost:8000/auth/kakao/callback

# 카카오 Developers의 제품 링크 관리에 등록한 URL
KAKAO_MESSAGE_LINK_URL=https://etk.srail.kr/hpg/hra/02/selectReservationList.do?pageId=TK0102010000
